@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');





/* ################################################################## */





*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--font);
  transition: background 0.3s ease-in-out;
}

html, body {
  min-width: 265px;
  min-height: 775px;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background: var(--bg-1);
  max-height: 100vh;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}





/* ################################################################## */





:root {
  --font: "Montserrat", sans-serif !important;
  --font-code: "Source Code Pro", sans-serif !important;

  --text-color: #000; /* main text color */
  --text-color-2: #F3F7FA;
  --light-dark: rgba(0,0,0,.3); /* light dark color */

  --bg-1: #F3F7FA; /* main background */
  --bg-2: #fff; /* second background */
  --bg-3: #000; /* burger menu background */
  --bg-blur: var(--light-dark);

  --spacing-7: 7px;
  --spacing-10: 10px;
  --spacing-15: 15px;

  --border: #E3ECF2; /* main border */
  --border-2: rgba(183, 195, 210, 0.5); /* message input focus */
  --border-3: rgba(183, 195, 210, 0.75); /* message input focus border */
  --burger-menu-line: #fff;

  --selected-border-color:rgba(0,0,0,.25);
  --special-text: rgb(40, 200, 184); /* code text color */
  --special-text-hover: rgb(36, 175, 161); /* hover code text color */
  --light-soft-shadow: rgba(255,255,255,0.10) 0px 5px 30px; /* light soft shadow */
  --dark-soft-shadow: var(--light-dark) 0px 5px 30px; /* dark soft shadow */

  /* ---------CONSTANT---------- */
  --scrollbar-color: #000;
  --selection-color: hsla(340, 100%, 75%, 0.5);
  --send-button: #007bff;
  --send-button-hover: #0056b3;
}

.dark_theme {
  --text-color: #F3F7FA; /* main text color */
  --text-color-2: #000;
  --light-dark: var(--border); /* light dark color (invert) */

  --bg-1: #100F14; /* main background */
  --bg-2: none; /* second background */
  --bg-3: rgba(255,255,255,1); /* burger menu background */
  --bg-blur: rgba(255,255,255,.3);

  --border: rgba(183, 195, 210, 0.4); /* dark border  */
  --border-2: #333237; /* light border */
  --burger-menu-line: #000;

  --selected-border-color:rgba(255,255,255,.75);
  --special-text: turquoise; /* code text color */
  --special-text-hover: rgb(49, 145, 136); /* hover code text color */
  --light-soft-shadow: rgba(255,255,255,.06) 0px 5px 30px; /* dark soft shadow (invert) */
  --dark-soft-shadow: rgba(255,255,255,0.1) 0px 5px 30px; /* light soft shadow (invert) */
}





/* ################################################################## */





.row_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}








.global_header {
  display: flex;
  padding: var(--spacing-10);
}





/* ################################################################## */





/* ###################################################### */
/* ##  ##   ##  ####  ##     ## #####   ####  #####    ## */
/* ##  ###  ## ##  ##  ##   ##  ##  ## ##  ## ##  ##   ## */
/* ##  ## # ## ######   ## ##   #####  ###### #####    ## */
/* ##  ##  ### ##  ##    ###    ##  ## ##  ## ##  ##   ## */
/* ##  ##   ## ##  ##     #     #####  ##  ## ##   ##  ## */
/* ###################################################### */





/* ################################################################## */





.navbar {
  position: fixed;
  display: flex;
  top: var(--spacing-15);
  left: 0;
  right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border: var(--border-2) solid 1px;
  border-radius: 20px;
  background: none;
  box-shadow: var(--dark-soft-shadow);
}

.navbar h1 {
  background: transparent;
  margin-left: 2.5rem;
  transition: 0.3s ease;
  font-size: x-large;
}

.navbar h1 a {
  text-decoration: none;
}


#burger-menu {
  display: flex;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--bg-3);
  border-radius: 40px;
  cursor: pointer;
  z-index: 9999;
}

#burger-menu span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  width: 1rem;
  height: 0.125rem;
  background: var(--burger-menu-line);
  border-radius: 100px;
  transition: .3s ease-in-out;
}

#burger-menu span::before, #burger-menu span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: var(--burger-menu-line);
  transition: .3s ease-in-out;
}

#burger-menu span::before {
  transform: translateY(-5px);
}

#burger-menu span::after {
  transform: translateY(5px);
}

/* APRES AVOIR CLICKÉ (ANIMATION) */

#burger-menu:hover {
  background: var(--selected-border-color);
}

#burger-menu.active span {
  background: transparent;
}

#burger-menu.active span::before {
  transform: translateX(-2px) translateY(0px) rotateZ(45deg);
  width: 125%;
}

#burger-menu.active span::after {
  transform: translateX(-2px) translateY(0px) rotateZ(-45deg);
  width: 125%;
}





/* ################################################################## */





.search {
  position: fixed;
  display: flex;
  bottom: var(--spacing-15);
  left: 0;
  right: 0;
  width: 100%;
  padding: 7px 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 83%;
  align-items: center;
  gap: var(--spacing-10);
  border: var(--border-3) solid 1px;
  border-radius: 40px;
  background:  none;
  box-shadow: var(--dark-soft-shadow);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: .3s;
  transform: scale(1.15);
}

.file-select-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.file-select-btn svg {
  height: 22px;
  margin-left: 5px;
  background: transparent;
  transition: .2s;
}

.file-select-btn svg:hover {
  transform: scale(0.90);
}

.message-input {
  padding: var(--spacing-10);
  width: 100%;
  border-radius: var(--spacing-15);
  text-decoration: none;
  border: 1px solid var(--border);
  background: none;
  transition: .3s;
}

.message-input:focus {
  border-color: var(--border-3);
  outline: none;
}

.send-btn {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 var(--spacing-15);
  border-radius: var(--spacing-15);
  border: none;
  color: var(--static-neutral);
  background-color: var(--send-button);
  box-shadow: var(--dark-soft-shadow);
  cursor: pointer;
}

.send-btn:hover {
  background-color: var(--send-button-hover);
}

.send-btn img {
  background: transparent;
  height: var(--spacing-15);
  filter: invert();
}





/* ################################################################## */





#main {
  position: fixed;
  display: flex;
  top: calc(90px + var(--spacing-15));
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 20px - 78px - 63px - 30px);
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: var(--border-2) solid 1px;
  background: none;
  box-shadow: var(--dark-soft-shadow);
  overflow-y: scroll;
  transition: .3s;
}

#main.active {
  justify-content: normal;
}

#tagContainer {
  display: flex;
  flex-direction: row;
  margin: var(--spacing-15) var(--spacing-10);
  margin-bottom: 0;
  gap: var(--spacing-10	);
  font-size: 13px;
  font-weight: 500;
  transition: .3s;
  transform: scale(0);
}

#tagContainer.visible {
  transform: scale(1);
}

#versionTag, #githubTag, #latestTag {
  padding: 5px var(--spacing-10);
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  color: var(--light-dark);
  border: var(--text-color-2) solid 3px;
  outline: var(--light-dark) solid 1px;
  align-content: center;
  box-shadow: var(--dark-soft-shadow);
  transition: .3s;
}

#versionTag {
  background: yellowgreen;
}

#githubTag {
  background: #42DAC1;
}

#latestTag {
  background: #d7a2b2;
}

.status-msg {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10%;
  padding: var(--spacing-15);
  gap: var(--spacing-7);
  opacity: 0.45;
  transition: .3s;
}

.status-msg.active {
  text-align: left;
  opacity: 1;
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
  transform: translateY(0px);
  transition: .3s ease-in-out;
}





/* ################################################################## */





/* ###################################### */
/* ##    #####  ####  #####   #####    ## */
/* ##   ##     ##  ## ##  ##  ##  ##   ## */
/* ##  ##      ###### #####   ##   ##  ## */
/* ##  ##      ##  ## ##  ##  ##  ##   ## */
/* ##    ##### ##  ## ##   ## #####    ## */
/* ###################################### */





/* ################################################################## */





.card-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-10);
  gap: var(--spacing-10);
  opacity: 0;
  transition: .2s;
}

.card-container.visible {
  visibility: visible;
  transform: translateY(-4px);
  opacity: 1;
  transition: .2s;
}

.card {
  display: none;
  flex-direction: row;
  padding: 0 .5rem 0 .5rem;
  border: 1px solid var(--border);
  border-radius: 15px;
  gap: 20px;
  background: var(--bg-2);
  box-shadow: var(--light-soft-shadow);
  transform: scale(0);
  transition: .3s;
}

.card.visible {
  display: flex;
  transform: scale(1);
}

.qrcode {
  padding: var(--spacing-10);
  cursor: pointer;
}

.qrcode img {
  height: 50px;
  width: 50px;
}

.qrcode_info {
  width: 100%;
  padding-top: 5px;
  background: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
}

.qrcode_info p {
  background: transparent;
}

#name {
  text-overflow: ellipsis;
  overflow: hidden;
}

#size {
  font-weight: bold;
}

#date_time {
  font-size: 15px;
  font-family: var(--font-code);
  opacity: 0.75;
}

.optionsBtn {
  display: flex;
  margin-left: var(--spacing-10);
  align-items: center;
}

.optionsBtn svg {
  height: 20px;
  margin: var(--spacing-10);
  background: transparent;
  cursor: pointer;
  transition: .2s;
}

.optionsBtn svg:hover {
  transform: scale(0.90);
}

.trash_icon:hover {
  box-shadow: rgba(255,0,0,.35) 0px 5px 30px;
}





/* ################################################################## */





/* ################################################################## */
/* ##  ###   ### ###### ##   ## ##   ##    ######  ###### #####    ## */
/* ##  ## # # ## ##     ###  ## ##   ##        ##  ##    ##    ##  ## */
/* ##  ## ### ## ###### ## # ## ##   ##      ##   ##    ###     #  ## */
/* ##  ##     ## ##     ##  ### ##   ##     ##    ##    ##     ##  ## */
/* ##  ##     ## ###### ##   ##  #####     ##      ###### #####    ## */
/* ################################################################## */





/* ################################################################## */





.optMenu {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  padding-top: 35px;
  background: transparent;
  z-index: 500;
  transition: .3s;
}

.optMenu.active {
  visibility: visible;
  height: 100%;
  transition: .3s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.optForeground {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-2);
  border: var(--border) solid 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
  transition: .3s;
}

.optTitle {
  display: flex;
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  margin: var(--spacing-15);
  background: var(--bg-2);
  transition: .2s;
  z-index: 2;
  justify-content: space-around;
}

.optTitle svg {
  height: 23px;
  border-radius: 20px;
  transform: scale(1.25);
  border: var(--border) solid 1px;
  cursor: pointer;
  transition: .2s;
}

.optImage {
  display: flex;
  justify-content: center;
}

#optName, #optDate {
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
}












.blur {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  background: var(--bg-blur);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateX(100vw);
  z-index: 100;
}

.blur.active {
  height: 100%;
  width: 100%;
  transform: translateX(0);
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  max-width: 590px;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-1);
  box-shadow: var(--dark-soft-shadow);
  transform: translateX(150vw);
  transition: .4s;
  z-index: 100;
}

nav.active {
  position: fixed;
  transform: translateX(0);
}

nav a, nav p, nav center {
  background: none;
}

.nav_info {
  display: flex;
  width: 100%;
  padding: 0 50px 0 100px;
  font-size: xx-large;
  font-weight: bold;
  flex-direction: column;
  background: none;
}

.nav_info a {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 2rem;
  transition: .3s;
}

.nav_info a:hover {
  color: var(--selected-border-color);
}

#creator {
  font-family: var(--font-code);
  color: var(--special-text);
  transition: .3s;
}

#creator:hover {
  color: var(--special-text-hover);
}

.year_production {
  padding: 0 50px 0 100px;
  background: none;
  font-size: 10px;
  font-style: italic;
}


.darkMode, .old_ui {
  position: absolute;
  top: 1.78rem;
  right: 5rem;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: .8rem;
  background: var(--bg-3);
  border: none;
  border-radius: 9999px;
  z-index: 9999;
  align-content: center;
  cursor: pointer;
  transition: .3s;
}

.old_ui {
  margin-right: 4rem;
}

.darkMode:hover, .old_ui:hover {
  background: var(--selected-border-color);
}

.darkMode_icon, .old_ui_icon {
  height: 25px;
  margin-left: 7px;
  margin-top: 2px;
  background: transparent;
  filter: invert();
  transition: .3s;
}





/* ################################################################## */





.text_zone {
  margin-top: 5rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
  margin-left: 10rem;
}

.text_zone a {
  color: blue;
  text-decoration: none;
}





/* ################################################################## */





/* CUSTOMISATION */

::-moz-selection {
  color: var(--static-neutral);
  background-color: var(--selection-color);
}

::selection {
  color: var(--static-neutral);
  background-color: var(--selection-color);
}


/* scrollbar total (background et cursor) */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent
}

/* background */
::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

/* cursor */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 60px;
}





/* ################################################################## */





@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}





/* ################################################################## */





/* RESPONSIVE */


@media only screen and (max-width: 1024px){
  .navbar {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .burger-menu:hover {
    background: var(--selected-border-color);
  }

  .card-container {
    margin: var(--spacing-10);
  }

  .input-container {
    background: var(--bg-2);
  }

  .file-select-btn {
    margin-left: 0;
  }

  .darkMode {
    margin-right: .4rem;
  }

  .old_ui {
    margin-right: 3.5rem;
  }

  nav {
    max-width: 100%;
  }

  nav.active {
    margin-left: 0;
    width: 100%;
    border-right: none;
  }

  .nav_info {
    padding-left: 50px;
    font-size: x-large;
  }
  
  .year_production {
    padding-left: 50px;
    font-size: medium;
  }

  .text_zone {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .navbar h1 {
    width: 20px;
    margin-left: calc(-100% + 22%);
    font-size: large;
  }

  .search {
    border-radius: 20px;
  }

  .text_zone {
    margin-left: calc(100% - 90%);
  }
}

@media only screen and (max-width: 420px) {
  .darkMode, .old_ui {
    top: 1.85rem;
  }
}

@media only screen and (max-width: 385px) {
  .search {
    transform: scale(1.25);
    transition: .3s;
    max-width: calc(100% - 25%);
    border-radius: 20px;
  }
}

@media only screen and (max-width: 330px) {
  .optionsBtn {
    margin-left: var(--spacing-10);
  }

  .nav_info {
    padding-left: 30px;
    font-size: large;
  }

  .year_production {
    padding-left: 30px;
    font-size: medium;
  }
}





/* ################################################################## */
