@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: hsl(270 70% 6%);
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 45px;
  margin: 25px;
  cursor: pointer;
}

.qrcode_panel {
  display: flex;
  flex-direction: row;
}

.side_menu_left {
  padding: 200px 225px 100px 75px;
  text-align: left;
}

.side_menu_left dt {
  padding-top: 15px;
}

.side_menu_left a:hover {
  color: hsl(45 90% 65%);
  transition: .3s;
}

.side_menu_left a {
  text-decoration: none;
}

.content {
  overflow-y: auto;
  width: 50%;
  text-align: center;
  font-size: x-large;
}

.qrcode_frame {
  margin: 100px 15% 100px 15%;
}

.qrcode_frame h1 {
  padding: 50px 0px 50px 0px;
}

.qrcode_frame img {
  margin: 0px auto 0px auto;
  border: 10px solid red;
  border-radius: 5px;
}

.input input {
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: smaller;
  text-align: left;
}

input:focus {
  outline: none;
}

.credits {
  padding: 80px 20px 0px 0px;
  opacity: 0.5;
  text-align: end;
}







/* JAVASCRIPT CLASS */

.disabled {
  color: grey;
  font-style: italic;
  pointer-events: none;
}


/* CUSTOMISATION */

::-moz-selection {
  color: #fff;
  background-color: hsla(340, 100%, 75%, 0.5);
}

::selection {
  color: #fff;
  background-color: hsla(340, 100%, 75%, 0.5);
}


/* scrollbar total (background et cursor) */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent
}

/* background */
::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

/* cursor */
::-webkit-scrollbar-thumb {
  background: hsl(45 90% 65%);
  border-radius: 60px;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



/* RESPONSIVE */


@media only screen and (max-width: 1280px){
  body {
    overflow-x: auto;
  }

  .navbar {
    display: flex;
    padding-top: 20px;
  }

  .navbar img {
    filter: invert();
    background: transparent;
  }

  .qrcode_panel {
    display: flex;
    flex-direction: column;
  }

  .side_menu_left {
    display: none;
  }

  .content {
    width: 100%;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .qrcode_frame {
    margin-bottom: 0;
  }

  .qrcode_frame h1 {
    padding: 15px 0px 50px 0px;
  }

  .input {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .input input {
    width: calc(100% - 20px);
    margin: 10px;
    font-size: smaller;
  }

  .credits {
    display: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 35px;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
