.optMenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* padding: 35px;
    padding-top: 100px;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: scale(0);
    transition: .3s ease-in-out; */
    opacity: 0;
    pointer-events: none;
    transition: .3s cubic-bezier(.79,.14,.15,.86);
}

.optMenu.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
}

.optMenu .optContent {
    position: relative;
    height: fit-content;
    max-height: 100vh;
    width: 100%;
    max-width: 800px;
    background: var(--bg-4);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    transform: translateY(100%);
    transition: 0.3s ease;
}

.optMenu.active .optContent {
    transform: translateY(0%);
}

.optMenu.dragging .optContent {
    transition: none;
}

.optMenu .optContent .optHeader {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    cursor: grab;
}

.optMenu .optContent .optHeader .drag-icon {
    padding: 15px;
    margin-top: -15px;
    cursor: grab;
    user-select: none;
}

.optMenu .optContent .optHeader .drag-icon span {
    display: block;
    height: 4px;
    width: 40px;
    background: var(--text-color);
    border-radius: 50px;
}

.optMenu .optContent .optBody {
    display: flex;
    height: 100%;
    padding: var(--spacing-15) 0;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
}

.optMenu .optContent .optBody::-webkit-scrollbar {
    width: 0;
}

.optInfos {
    display: flex;
    padding: 0 1.5rem;
    gap: calc(1.6 * var(--spacing-15));
    margin-bottom: 30px;
}
  
.optImage {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: var(--spacing-7);
    transition: .3s;
}
  
#optImage img {
    border-radius: 13px;
    border: 8px solid #fff;
    box-shadow: var(--dark-soft-shadow);
}

.optTextInfos {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
  
#optName, #optDate {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    justify-content: center;
}
  
#optName {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 5px;
}
  
.optButtons {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    bottom: var(--spacing-7);
    left: 0;
    right: 0;
    padding: 15px 30px 30px 30px;
    flex-direction: column;
    gap: var(--spacing-7);
    font-size: 1.05em;
    border-top: 1px solid var(--border-3);
    border-radius: 12px 12px 0 0;
    background: var(--bg-4);
}
  
#downloadBtn {
    display: flex;
    width: 100%;
    padding: var(--spacing-10);
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    gap: var(--spacing-15);
    justify-content: center;
    background: var(--accent-color);
    border: var(--border) solid 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

#downloadBtn p {
    color: #fff;
}

#downloadBtn:hover {
    background: var(--accent-color-hover);
}
  
#deleteBtn {
    display: flex;
    width: fit-content;
    padding: var(--spacing-7);
    margin-left: auto;
    margin-right: auto;
    gap: var(--spacing-15);
    align-items: center;
    font-weight: 500;
    border-radius: 12px;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

#deleteBtn p {
    color: var(--accent-color);
    margin: 0 2rem;
}

#deleteBtn p:hover {
    color: var(--accent-color-hover);
}
  


/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
    .optImage {
        height: 150px;
    }
}