.main_header {
    display: flex;
    justify-content: center;
    transition: .3s;
}
  
.status-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;
    padding: var(--spacing-15);
    gap: var(--spacing-7);
    opacity: .27;
    transition: .3s;
}
  
.status-msg.active {
    text-align: left;
    opacity: 1;
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
    transform: translateY(0px);
    transition: .3s ease-in-out;
}

/* RESPONSIVE */


/* Design For Mobile Device From Here */
@media only screen and (max-width: 800px) {  
    .main_header {
        padding: var(--spacing-15) 20px;
    }

    #qrcode.active .main_header {
        display: none;
    }

    .status-msg {
        max-width: 80%;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .main_header {
        padding: var(--spacing-15);
    }
}