#burger-menu {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
    z-index: 5000;
    transition: .3s;
}
  
#burger-menu span {
    display: none;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    width: 1rem;
    height: 0.125rem;
    background: var(--burger-menu-line);
    border-radius: 100px;
    transition: .3s ease-in-out;
}
  
#burger-menu span::before, #burger-menu span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: var(--burger-menu-line);
    transition: .3s ease-in-out;
}
  
#burger-menu span::before {
    transform: translateY(-5px);
}
  
#burger-menu span::after {
    transform: translateY(5px);
}
  
#burger-menu.active span {
    background: transparent;
}
  
#burger-menu.active span::before {
    transform: translateX(-2px) translateY(0px) rotateZ(45deg);
    width: 125%;
}
  
#burger-menu.active span::after {
    transform: translateX(-2px) translateY(0px) rotateZ(-45deg);
    width: 125%;
}

#burger-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none; 
    gap: var(--spacing-15);
    padding: .33rem;
}

#burger-menu ul a {
    text-decoration: none;
    transition: .3s;
}

#burger-menu ul a:hover {
    text-decoration: underline;
    transition: .3s;
}

/* RESPONSIVE */

@media only screen and (max-width: 800px) {
    ._container[class~=burgerMenu] {
        max-width: 100%;
        padding: .5rem 1rem;
        border: none;
        box-shadow: none;
        border-radius: 0;
    }

    #burger-menu {
        width: 2.5rem;
        height: 2.5rem;
        background: var(--bg-3);
        transform: scale(0.95);
        background: none;
    }

    #burger-menu span {
        display: block;
    }

    #burger-menu ul {
        display: none;
    }
}