.importBar {
    display: none;
    position: fixed;
    color: var(--text-color-2);
    bottom: var(--spacing-15);
    left: 0;
    right: 0;
    width: fit-content;
    padding: var(--spacing-7) 14px;
    margin-left: 5%;
    margin-right: auto;
    /* min-width: 90px; */
    max-width: 90px;
    align-items: center;
    gap: 16px;
    /* border: var(--border) solid 1px; */
    border-radius: 40px;
    background:  #000;
    box-shadow: var(--dark-soft-shadow);
    transition: .3s;
    transform: scale(1.15);
}
  
.importBar svg {
    filter: var(--importBar-btn);
}
  
#imgSelectButton {
    height: 24px;
    transform: scale(1.20);
}


/* RESPONSIVE */


/* Design For Mobile Device From Here */
@media only screen and (max-width: 800px) {
    .importBar {
      display: flex;
    }
}