.navbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: .75rem 2rem;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-1);
    border-bottom: 1px solid var(--light-dark);
    /* box-shadow: 1em 0 1.5em var(--light-dark), -1em 0 1.5em var(--light-dark); */
    transition: .3s;
}
  
.navbar h1 {
    margin-left: 0;
    transition: 0.3s ease;
    font-size: x-large;
}

.navbar h1 span {
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--selection-color);
}
  
.navbar h1 a {
    text-decoration: none;
}

#navbar_links {
    display: flex; 
    flex-direction: row; 
    gap: var(--spacing-10);
}

#connexionBtn {
    background: #000;
    border-radius: 12px;
    padding: .5em 1rem;
}

#connexionBtn a {
    text-decoration: none;
    color: #fff;
}


/* RESPONSIVE */

@media only screen and (max-width: 1024px){
    .navbar h1 {
      margin-left: 1.5rem;
    }
}

/* Design For Mobile Device From Here */
@media only screen and (max-width: 800px) {
    .navbar {
        position: relative;
        max-width: 100% !important;
        padding: .15rem;
        margin-bottom: 0 0.5rem;
        border-radius: 0;
        box-shadow: none;
        border: none;
        background: none;
    }
      
    .navbar h1 {
        font-size: large;
    }
    
    .navbar h1 a {
        font-size: 1.1em;
    }

    ._container[class~=connexion] {
        display: none;
    }
}